NEXT_PUBLIC_SUPABASE_URL=https://vyalzgdqojbbjvfthkeq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ5YWx6Z2Rxb2piYmp2ZnRoa2VxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY1NTYxNjgsImV4cCI6MjA5MjEzMjE2OH0.penFgwZYjl-rCZu4jzSYZ7lySqVZ0WSsQ0M91iVu5Aw
